/* Základní styly pro celou stránku*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
font-family: "Chiron GoRound TC", sans-serif;
 line-heigth: 1.6;
 font-size: 20px;
 color: #d8d3d3;
 background-image: url("https://res.cloudinary.com/dljmf7bk8/image/upload/f_auto,fl_lossy,c_limit,w_2560,dpr_auto,q_75/v1763630642/6_7_304afd99f0.webp");
}

/* Header a navigace */
header {
 background: #669bb6;
 padding: 1rem 0;
 text-algin: center;
}

header hi {
 margin-bottm: lrem;
}

nav a {
font-family: "Chiron GoRound TC", sans-serif;
 color: white;
 text-decoration: none;
 margin: 0 15px;
 padding: 8px 16px;
 border-radius: 4px;
 transition: background 0.3s;
 font-size: 40px;
}

nav a:hover {
}
/* Hlavní obsah */
main {
 max-width: 800px;
 margin: 2rem auto;
 padding: 0 1rem;
 background: white;
 border-radius: 8px;
 box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section {
 padding: 2rem;
 border-bottom: 1px solid #eee;
}

section:last-child {
 border-bottom: none;
}

h2 {
 color :#2c3e50;
 margin-bottm: lrem;
}

/* Footer */
footer {
 text-algin: center;
 padding: 1rem;
 background: url("https://res.cloudinary.com/dljmf7bk8/image/upload/f_auto,fl_lossy,c_limit,w_2560,dpr_auto,q_75/v1763630642/6_7_304afd99f0.webp");
 color: white;
 margin-top: 2rem;
}
